<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateOrder</servlet-name>
        <servlet-class>com.spartans.services.CreateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderLocationBased</servlet-name>
        <servlet-class>com.spartans.services.GetOrderLocationBased</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDelivaryPerson</servlet-name>
        <servlet-class>com.spartans.services.CreateDelivaryPerson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOrder</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderLocationBased</servlet-name>
        <url-pattern>/GetOrderLocationBased</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDelivaryPerson</servlet-name>
        <url-pattern>/CreateDelivaryPerson</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
